<img src="https://drive.google.com/uc?id=1v7YY_rNBU2OMaPnbUGmzaBj3PUeddxrw" alt="ITI MCIT EPITA" style="width: 750px;"/>

---

<img src="https://drive.google.com/uc?id=1R0-FYpJQW5YFy6Yv-RZ1rpyBslay0251" alt="Python Logo" style="width: 400px;"/>

___

By: **Mohamed Fouad Fakhruldeen**, mohamed.fakhruldeen@epita.fr

# Session 02: Variables & Data Types

## Variables

reserved location in the memory that stores a value. which can be easily retrieved later in the program.

*python is not statically typed language* which means you don't need to declare the type or the variable before using them.

every variable is an object (we will come to this point later)

### variable names

the variable name must follow the following criteria:
1. must start with a letter or underscore
2. can't start with a number
3. only *alpha-numeric and underscore values* accepted (A-Z, a-z, 0-9, _ )
4. case sensitive (ITI is different from iti) (EPITA is a different variable than epita)
5. it can be one letter (x) or a name with a meaning (my_name)

### variable assignment 

Assignment is done with a single equals sign (=)

```x = 10``` means variable x is assigned the value of integer 10

In [31]:
year = 2021
print(year)
DOB = 1999
print(year-DOB)

2021
22

In [4]:
x = True # valid
_y = True # valid
# 1u = False #not-valid starts with number
# u-i  = 29 #not-valid starts with number
# z = X # X (capital letter) is not same as x (small letter)

SyntaxError: cannot assign to operator (<ipython-input-4-2b99104f985e>, line 4)

you can even change type after the variable has been set.
or (re-declaring) the variable

In [2]:
year = "last year"
print(year)

last year

assign values to multiple variables in one line

In [3]:
ali, shaymaa, mohamed = "pass", "pass", "fail"
print(ali)
print(shaymaa)
print(mohamed)

pass
pass
fail

assign one value to multiple variables

In [4]:
mahmoud = zayed = saly = "pass"
print(mahmoud)
print(zayed)
print(saly)

pass
pass
pass

In [3]:
x = 352
# Return the “identity” of an object. 
# This is an integer which is guaranteed to be unique and constant for this object during its lifetime
print(id(x))
#Convert an integer number to a lowercase hexadecimal string prefixed with “0x”.
print(hex(id(x)))
z = 14
y = 14
print (id(x), id(z), id(y))
print (hex(id(x)), hex(id(z)), hex(id(y)))

140533146372848
0x7fd06c44caf0
140533146372848 94603607682720 94603607682720
0x7fd06c44caf0 0x560a9e6e2ea0 0x560a9e6e2ea0

### variable operators

we can use variables in operators mentioned in session 01

In [2]:
x = 39
y = 74
print(x>y)

False

In [6]:
print(x/y)

0.527027027027027

In [7]:
print(x+y)

113

In [4]:
z = x-y
print(z)
print(x-y)

-35
-35

In [9]:
pi = 3.14
radius = 5
circumference = 2*pi*radius
print(circumference)

31.400000000000002

In [10]:
print(x)
s = 19
s += x
print(s)

39
58

In [11]:
double_message = "welcome to the course" # double quotes
single_message = 'welcome to the course' # Single Quote

print(double_message)
print(single_message)

welcome to the course
welcome to the course

In [12]:
print("It's AI-Pro 1st intake's 1st course !")

It's AI-Pro 1st intake's 1st course !

String Concatenation with variables (needs to be of same type)

In [13]:
welcome = "Welcome, "
first_name = "student"
print(welcome+first_name)
print(welcome+"Mohamed.")

Welcome, student
Welcome, Mohamed.

### Variable Types

A variable is created when you first assign a value to it.

In [14]:
# variables declared before
print(type(x))
print(type(y))
print(type(pi))
print(type(welcome))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>

#### Variable Type casting

you can specify the data type of a variable

In [9]:
print(type(x))
x = str(x)
print(type(x))
x = 10
print(type(x))
print(x)
x = float(4)
print(x)
import sys
print("Float value information: ",sys.float_info)
print("\nInteger value information: ",sys.int_info)
print("\nMaximum size of an integer: ",sys.maxsize)

<class 'float'>
<class 'str'>
<class 'int'>
10
4.0
Float value information:  sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

Integer value information:  sys.int_info(bits_per_digit=30, sizeof_digit=4)

Maximum size of an integer:  9223372036854775807

In [16]:
# value error
message = int("welcome")

ValueError: invalid literal for int() with base 10: 'welcome'

## Strings

variable assigned string of text (characters)

string is quoted inside single quotation marks, or double quotation marks

strings are arrays (we will discuss this in future session)

In [6]:
hello_world = "Hello, World!"
print(hello_world)
lorem_ipsum = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(lorem_ipsum)

Hello, World!
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
print(len(lorem_ipsum)) #String Length

In [ ]:
print("amet" in lorem_ipsum) #check if in string

In [ ]:
print("github" not in lorem_ipsum) #check not in string

In [7]:
str02 = "Python is very flexible for your needs"
print(str02[:9])
print(str02[:9][:6])

Python is
Python

we can modify strings using built-in methods

#### Modify strings

In [41]:
name = "introduction to python"
print(name.upper())

INTRODUCTION TO PYTHON

In [10]:
full_name = "  mohAMEd ahMed aLI  "
print(full_name.upper()) # returns uppercased string
print(full_name.capitalize()) # Converts first character to Capital Letter
print(full_name.strip()) # Removes Both Leading and Trailing Characters
print(full_name.title()) # Returns a Title Cased String
print(full_name.swapcase()) # Convert uppercase characters to lowercase and lowercase characters to uppercase.
print(full_name.casefold()) #Return a version of the string suitable for caseless comparisons.
full_name = full_name.strip()
print(full_name)
help('str.casefold')
help('str.swapcase')
## how we can make changes in the variable values

  MOHAMED AHMED ALI
  mohamed ahmed ali
mohAMEd ahMed aLI
  Mohamed Ahmed Ali
  MOHameD AHmED Ali
  mohamed ahmed ali
mohAMEd ahMed aLI
Help on method_descriptor in str:

str.casefold = casefold(self, /)
    Return a version of the string suitable for caseless comparisons.

Help on method_descriptor in str:

str.swapcase = swapcase(self, /)
    Convert uppercase characters to lowercase and lowercase characters to uppercase.

In [ ]:
first_name = "moHAmed"
last_name = "AhMEd"
full_name = first_name.title() + " " + last_name.title()
print("Welcome, " + full_name + "!")

#### Escape Character

An escape character is a backslash \ followed by the character you want to insert. usually used when we want to use illegal character for example a single quote inside a string that's single-quoted.

In [ ]:
text = "Hi, \"Student\" !"
print(text)

some of commonly used escape character is

    \n for new line
    \t for horizontal tab

## Numbers in variables

### Integers

    a whole number
    positive or negative
    without decimals

In [18]:
x = 19
print(type(x))
x = 494937830948393784763
print(type(x))
x = -398
print(type(x))

<class 'int'>
<class 'int'>
<class 'int'>

In [22]:
x =  0b00011000 # binary
print(x)
y =  0o12 # octal
print(y)
z =  0x12 # hexadecimal
print(z)
print(type(z))
print(x+y+z)

24
10
18
<class 'int'>
52

In [24]:
#leading zero's in non-zero int is not valid
# x = 07

In [25]:
# no comma allowed
# Use underscore _ as a delimiter instead
x=1_234_567_890
print(x)

1234567890

### floats

    positive or negative
    one or more decimals

In [15]:
y = 3.14
print(type(y))
y = 0.0000001
print(type(y))
y = -0.1
print(type(y))
print(3 * 100.e2)

<class 'float'>
<class 'float'>
<class 'float'>
30000.0

Floats has the maximum size depends on your system. The float beyond its maximum size referred as "inf", "Inf", "INFINITY", or "infinity". Float ```2e400``` will be considered as infinity for most systems.

In [26]:
f = 2e400
print(f)

inf

for scientific purposes we can use float with e to indicate the power of 10

In [ ]:
sci_y = 1384e4
print(sci_y)
print(type(sci_y))

number type conversions

In [ ]:
x = 49
y = 7.74
x = float(x)
y = int(y)
print(type(x))
print(type(y))
print(x)
print(y)

In [33]:
print(round(87.93, 1))
print(max(74,87))
print(min(74,87,37,736))

87.9
87
37

In [30]:
#complex numbers
a=6+4j             
b=3+2j             
c=a*b              
#c=(6+4j)*(3+2j)    
#c=(18+12j+12j+8*-1)
#c=10+24j
print(c)

(10+24j)

### Boolean

In [5]:
 print(bool("text goes here"))

True

In [6]:
 print(bool(1))

True

In [7]:
 print(bool(0))

False

In [8]:
 print(bool(""))

False

In [9]:
 print(bool(True))

True

In [ ]:
 print(bool(False))

In [ ]:
 print(bool(None))

In [12]:
x = True
y = False
z = True

print(x or y)
print(y or z)
print(x and y)
print(x and z)
print(not x)
print(not y)
print(x and not y)

True
True
False
True
False
True
True

#### isinstance()

checks if the variable type is true or false

In [12]:
message = "welcome"
print(isinstance(message, int))

False

#### concatenating 2 variables of different types

##### Using str() function

In [17]:
my_string = "my phone number is: "
my_decimal = 521452145
print("Welcome" + " " + "Guest")
#print(my_string + my_decimal)
print(my_string + str(my_decimal))

Welcome Guest
my phone number is: 521452145

##### Using % Operator

In [48]:
my_string = "my phone number is: "
my_decimal = 521452145
print("%s%d" % (my_string, my_decimal))

my phone number is: 521452145

In [53]:
print("%s%s" % (my_string, my_decimal))

my phone number is: 521452145

##### Using format() function

In [54]:
print("{}{}".format(my_string, my_decimal))

my phone number is: 521452145

##### Using f-strings

In [55]:
print(f'{my_string}{my_decimal}')

my phone number is: 521452145

In [20]:
name = 'Mohamed'
age = 38

f_example = f'My Name is {name} and my age is {age}'
print(f_example)

My Name is Mohamed and my age is 38

### input

In [59]:
x = input()
print(int(x)+2)

a

ValueError: invalid literal for int() with base 10: 'a'

In [60]:
str = input("Type Your Message Here")
print(str)

Type Your Message Herewelcome
welcome

In [61]:
print('Welcome, ' + input('Enter Your Name: '))

Enter Your Name: Mohamed
Welcome, Mohamed

In [63]:
a, b, c = input().split()
print(b)

T U V X Y Z

ValueError: too many values to unpack (expected 3)

In [ ]:
a, b, c, d = map(float, input().split())

In [ ]:
first = input('Enter first number: ')
first = float(first)

# let's make it in a single line
second = float(input('Enter second number: '))

print(first, '+', second, '=', first + second)
print(first, '-', second, '=', first - second)
print(first, '*', second, '=', first * second)
print(first, '/', second, '=', first / second)

print("\nEnd of program")

In [ ]:
name1 = input("Enter the first stduent's name: ")
id1 = input("Enter the first stduent's ID: ")
grade1 = float(input("Enter the first stduent's grade: "))

name2 = input("\nEnter the second stduent's name: ")
id2 = input("Enter the second stduent's ID: ")
grade2 = float(input("Enter the second stduent's grade: "))

print('\n\nInformat for students and their "Math" grades')
msg = name1 + '(ID ' + id1 + ') got grade: ' + str(grade1)
print(msg)
msg = name2 + '(ID ' + id2 + ') got grade: ' + str(grade2)
print(msg)

average = (grade1 + grade2) / 2.0
print('Average math grade is', average)

In [37]:
A = input()
B = input()
C = input()

combo = A + "'" + B + '"' + C
combo = combo * 10

print(combo)

1
2
3
1'2"31'2"31'2"31'2"31'2"31'2"31'2"31'2"31'2"31'2"3

In [39]:
a, b, c, d = map(int, input().split())
print('a < b is = ', a<b)

85 43 41 95
a < b False