<img src="https://drive.google.com/uc?id=1v7YY_rNBU2OMaPnbUGmzaBj3PUeddxrw" alt="ITI MCIT EPITA" style="width: 750px;"/>

<img src="https://drive.google.com/uc?id=1R0-FYpJQW5YFy6Yv-RZ1rpyBslay0251" alt="Python Logo" style="width: 400px;"/>

-----

*By:*<br />
**Mohamed Fouad Fakhruldeen**, <br />
mohamed.fakhruldeen@epita.fr,<br />
linkedin.com/in/fakhruldeen.<br />

# Introduction to Python
## Session 3: Data Structure

## Introduction

### what's data structure?

simply enough, they are *structures* to hold and organize data together. 
they are stored in-memory, data stored on persistent storage are different, example: RDBMS databases 


### refresher 

**pointers**: bit string to represent memory address
we provide the computer with the step-by-step instructions to organize and fetch the data

### General Data Structures

1. linear single level (SW Development)
    1. Array
    2. Linked-list
    3. Queue 
    4. Stack
2. non-linear or multi-level (Artificial Intelligence and image processing)
    5. Trees
    6. Graph

[Further Reading](https://www.geeksforgeeks.org/abstract-data-types/)

In [2]:
help('print')

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

### List

* Lists are just like dynamic sized arrays
* Lists need not be homogeneous always which makes it a most powerful tool in Python.
* A single list may contain DataTypes like Integers, Strings, as well as Objects. 
* Lists are mutable, and hence, they can be altered even after their creation.
* Ordered
* have a definite count.
* elements in a list are indexed
* the indexing of a list is done with 0 being the first index. 
* Each element in the list has its definite place in the list, which allows duplicating of elements in the list, with each element having its own distinct place and credibility.

In [8]:
Lista = [] 
print(Lista)

[]

In [9]:
Lista = ['welcome to Python'] 
print(Lista)

['welcome to Python']

In [10]:
Lista = ['Welcome', 'TO', 'Python']
print(Lista)

['Welcome', 'TO', 'Python']

In [11]:
print(Lista[1])

TO

In [9]:
listX = ['ITI', 'Intake 1', 2021]
print(type(listX))
print(type(listX[2]))
print(listX)

<class 'list'>
<class 'int'>
['ITI', 'Intake 1', 2021]

In [8]:
print(listX[-1])

2021

In [6]:
print(listX[-1:])

[2021]

In [10]:
print(listX[1:-1])

['Intake 1']

In [13]:
print(listX[::2]) #steps

['ITI', 2021]

In [12]:
print(listX[::-1]) #reverse order

[2021, 'Intake 1', 'ITI']

In [16]:
print(listX[:2])
print(listX[:2][-1])
print(listX[:2][-1][2:5])

['ITI', 'Intake 1']
Intake 1
tak

#### concatenate lists

In [30]:
List1 = [4, 5, 6]
List2 = [7, 8, 9]
List3 = List1 + List2
print(List3)

[4, 5, 6, 7, 8, 9]

In [31]:
List4 = List1 * 2
print(List4)

[4, 5, 6, 4, 5, 6]

In [34]:
List4 *= 2
print(List4)

[4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6, 4, 5, 6]

In [21]:
List7 = [0] * 6
print(List7)

[0, 0, 0, 0, 0, 0]

In [22]:
List7[2] = 74
print(List7)

[0, 0, 74, 0, 0, 0]

In [23]:
List8 = 2 * List7
print(len(List8))
print(List8)

12
[0, 0, 74, 0, 0, 0, 0, 0, 74, 0, 0, 0]

#### append() method

In [24]:
List8.append("Fouad")
print(List8)

[0, 0, 74, 0, 0, 0, 0, 0, 74, 0, 0, 0, 'Fouad']

In [40]:
List8.append(True)
List8.append(74)
print(List8)

[0, 0, 74, 0, 0, 0, 0, 0, 74, 0, 0, 0, 'Fouad', True, 74]

### insert() method

In [41]:
ListIns = [1, 5, 47]
ListIns.insert(3, 12)
print(ListIns)

[1, 5, 47, 12]

In [42]:
ListIns.insert(1, 3)
print(ListIns)

[1, 3, 5, 47, 12]

### extend() method

In [43]:
ListEx = [1,2,3,4]
ListEx.extend([False, 'Testing', 'Again'])
print(ListEx)

[1, 2, 3, 4, False, 'Testing', 'Again']

In [44]:
List_1 = [1, 2, 3, 4, 7, 8]
print(List_1.index(7))

4

In [45]:
List_1 = [1, 2, 3, 4, 7, 8]
print(List_1.count(4))

1

In [46]:
print(List_1.count([4, 7]))

0

In [52]:
list1 = [1, 2, 4, 5, 6] 
Tuple1 = tuple(list1[0:2])
Tuple2 = tuple(list1[-1:-2])
print(Tuple1[1])

2

### remove() method

this method is used to remove only one element or use it with iterator loops. Only the first occurrence of search

In [25]:
List = [1,2,3,4]
List.remove(3)

### pop() method

this method is used to remove the last element or position index

In [29]:
List = [1,2,3,4]
List.pop()
print(List.pop(2))
print(List)

3
[1, 2]

### del() method

In [38]:
List = [1,2,3,4]
del List[2]
print(List)
del List
# print(List)

[1, 2, 4]

### Index method

Search and return first index

In [41]:
List_1 = [1, 2, 3, 4, 7, 8]
print(List_1.index(7))

4

### clear() method

Clear the list

In [43]:
List_1 = [1, 2, 3, 4, 7, 8]
print(List_1.clear())
print(List_1)

None
[]

### list mutability

Mutability is about whether or not we can change an object once it has been created, otherwise it's considered immutable. As strings.

In [33]:
List2 = [7, 8, 9]
print(List2)
List2[2] = 74
print(List2)

[7, 8, 9]
[7, 8, 74]

### List Slicing

In [40]:
ListA = [1,10,20,30,40,50]
ListB = ListA[::2]
print(ListB)

[1, 20, 40]

### List Counting Methods

#### min() , max()

In [45]:
list_name = [98,48,37,957,9,3]
print(min(list_name), max(list_name))

3 957

#### count

In [48]:
List_1 = [1, 2, 3, 4, 7, 8]
List_1 *= 5
print(List_1.count(3))

5

### List Copy() Method

In [2]:
old_list20 = [0, 1, 2, 3]
new_list20 = old_list20.copy() #try without .copy() method
print('New List2:', new_list20)
new_list20.append(4)
print('New List20:', new_list20)
print('Old List now is:', old_list20)
del old_list20
del new_list20

New List2: [0, 1, 2, 3]
New List20: [0, 1, 2, 3, 4]
Old List now is: [0, 1, 2, 3]

### Sort and Sorted

In [10]:
SList = [87,98,48,37,957,9,3]
print("default list : ", SList)
SList.sort()
# SList2 = SList.sort() #None
print("sort method: ", SList) # inplace
SList.sort(reverse = True)
print("reverse sort method: ", SList)
#ListName.sort(reverse = True)
#DON'T ListName = ListName.sort() #NONE

default list :  [87, 98, 48, 37, 957, 9, 3]
sort method:  [3, 9, 37, 48, 87, 98, 957]
reverse sort method:  [957, 98, 87, 48, 37, 9, 3]

In [14]:
List_1 = [13, 224, 36, 14, 7, 58]
NewList1 = sorted(List_1)
NewList2 = sorted(NewList1, reverse = True)
print(List_1)
print(sorted(List_1))
print(NewList1)
print(NewList2)
print(List_1)

[13, 224, 36, 14, 7, 58]
[7, 13, 14, 36, 58, 224]
[7, 13, 14, 36, 58, 224]
[224, 58, 36, 14, 13, 7]
[13, 224, 36, 14, 7, 58]

### List Comprehension

In [17]:
List1 = [2, 4, 7, 1]
print(List1)

List2 = [i for i in List1]
print(List2)

List3 = [i*2 for i in List1]
print(List3)

List4 = [i+3 for i in range(4, 8)]
print(List4)

List5 = [3*char for char in 'Hello']
print(List5)

[2, 4, 7, 1]
[2, 4, 7, 1]
[4, 8, 14, 2]
[7, 8, 9, 10]
['HHH', 'eee', 'lll', 'lll', 'ooo']

### Conditional list comprehension

In [19]:
List1 = [2, 4, 7, 1]
print(List1)

List2 = [i for i in List1 if i > 3]
print(List2)

List3 = [i*2 for i in List1 if i >=2 and i < 10 ]
print(List3)

String1 = "Welcome to Conditional"
print(String1)

Vowels = [i for i in String1 if i in 'aeiou']
print(Vowels)

[2, 4, 7, 1]
[4, 7]
[4, 8, 14]
Welcome to Conditional
['e', 'o', 'e', 'o', 'o', 'i', 'i', 'o', 'a']

### Nested Lists

list of lists

list = [list, list, list[list, list[list, list]]]

In [26]:
List1 = [2, 4, 7, 1]
List2 = [89, 74, 75, 74]
ListA = [List1, List2]
print(ListA)
List3 = [84,75,84, 94, 86,23]
List4 = [13,47,57,73,74]
ListB = [List1, List2,[List3, List4]]
print(ListB)
print(ListB[1])
print(ListB[2][0]) # remember [n][m]

[[2, 4, 7, 1], [89, 74, 75, 74]]
[[2, 4, 7, 1], [89, 74, 75, 74], [[84, 75, 84, 94, 86, 23], [13, 47, 57, 73, 74]]]
[89, 74, 75, 74]
[84, 75, 84, 94, 86, 23]

## Tuples

Just like list, tuple is also an ordered collection of Python objects. The only difference between type and list is that tuples are immutable i.e. tuples cannot be modified after it is created. It is represented by tuple class

In [30]:
Tuple1 = (1, 4, 8)
Tuple2 = (5, ) #one item
print(Tuple1)
print(Tuple2)
print(type(Tuple2))
tuple3 = (4)
print(tuple3)
print(type(tuple3))

(1, 4, 8)
(5,)
<class 'tuple'>
4
<class 'int'>

#### Creating a Tuple with list

In [37]:
list1 = [1, 2, 4, 5, 6] 
Tuple1 = tuple(list1)
Tuple2 = tuple('ITI-Pro')
Tuple3 = (Tuple1, Tuple2)
print(type(Tuple1))
print(type(Tuple2))
print(Tuple3)
print(type(Tuple3))
print(Tuple1[:2])
#Tuple[1]=9 #Error

<class 'tuple'>
<class 'tuple'>
((1, 2, 4, 5, 6), ('I', 'T', 'I', '-', 'P', 'r', 'o'))
<class 'tuple'>
(1, 2)

In [ ]:
list1 = [1, 2, 4, 5, 6] 
Tuple1 = tuple(list1)
Tuple2 = tuple('ITI-Pro')
Tuple3 = (Tuple1, Tuple2)

#### tuple unpacking

In [38]:
tupleA = ("ITI", "AI", "Pro")
a, b, c = tupleA
print(a)
print(b)
print(c)

ITI
AI
Pro

#### tuple deletion

In [43]:
tupleZ = ("ITI", "AI", "Pro")
del tupleZ
#print(Tuple1)

#### tuple count

In [44]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

#### tuple index

In [46]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8) #first appearance

print(x)

3

### Python Sets

Set is an unordered collection of data type that is iterable, mutable and has no duplicate elements. The order of elements in a set is undefined though it may consist of various elements.

The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set.

In [55]:
NewSet = set()
NewSet = set(("apple", "banana", "cherry"))
print(NewSet)
String = 'Mohamed'
print(String)
set1 = set(String)
print(set1)
NewSet.add(10) # only one element, we can iterate
NewSet.add(14)
NewSet.add(4)
print(NewSet)
print(len(NewSet)) 
print(type(NewSet))

{'apple', 'banana', 'cherry'}
Mohamed
{'h', 'e', 'o', 'a', 'd', 'm', 'M'}
{4, 10, 14, 'cherry', 'banana', 'apple'}
6
<class 'set'>

In [ ]:
# to access items in set
#for x in NewSet:
#  print(x) 

# or
#print("banana" in NewSet)

#### update method

In [58]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset) 
anotherone = ["kiwi", "orange"]
thisset.update(anotherone)
print(thisset)

{'cherry', 'banana', 'apple', 'mango', 'papaya', 'pineapple'}
{'cherry', 'kiwi', 'banana', 'apple', 'mango', 'papaya', 'orange', 'pineapple'}

#### remove method

In [61]:
thisset.remove("banana")
#thisset.remove("orange") ## error

print(thisset)

KeyError: 'banana'

#### discard method

In [60]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")
thisset.discard("orange") ## no error
print(thisset)

{'apple', 'cherry'}

#### pop method

In [62]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

#### clear method

In [63]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

#### del method

In [65]:
thisset = {"apple", "banana", "cherry"}

del thisset

#print(thisset) ## not defined

#### set union

In [68]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3) 
print(set2) 
print(set1)

{1, 2, 3, 'b', 'c', 'a'}
{1, 2, 3}
{'c', 'a', 'b'}

#### set update

In [69]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set3) 
print(set2) 
print(set1)

{1, 2, 3, 'b', 'c', 'a'}
{1, 2, 3}
{1, 2, 3, 'b', 'c', 'a'}

#### intersection_update()  method

In [70]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

#### symmetric_difference_update() method

In [73]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x) 

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)
print(x) 
print(z)

{'cherry', 'microsoft', 'google', 'banana'}
{'apple', 'banana', 'cherry'}
{'cherry', 'microsoft', 'google', 'banana'}

https://www.w3schools.com/python/python_sets_methods.asp

### Dictionary

Dictionary holds key:value pair
Separated by commas

In [76]:
dict1 = {1: 'Try', 2: 'Creating', 3: 'a', 4:'Dictionary'}

person1 = {'Name': 'Mohamed Fakhruldeen', 'Age': 39, 'Nationality':'Egyptian'}

print(dict1)
print(person1)

{1: 'Try', 2: 'Creating', 3: 'a', 4: 'Dictionary'}
{'Name': 'Mohamed Fakhruldeen', 'Age': 39, 'Nationality': 'Egyptian'}

In [80]:
cars1 = {
  "brand": "Toyota",
  "model": "Corolla",
  "year": 2017
}
print(cars1)
print(cars1["model"])
cars2 = {
  "brand": "Toyota",
  "model": "Corolla",
  "year": 2017,
  "year": 2018
}
print(cars2)
print(cars2["year"])

{'brand': 'Toyota', 'model': 'Corolla', 'year': 2017}
Corolla
{'brand': 'Toyota', 'model': 'Corolla', 'year': 2018}
2018

### dict len

In [81]:
print(len(cars2))

3

#### access elements in dict

In [82]:
x = cars2["model"]
print(x)
z = cars2.get("model")
print(z)

Corolla
Corolla

#### get keys

In [83]:
a = cars1.keys()
print(a)

dict_keys(['brand', 'model', 'year'])

In [86]:
y,u,i = a
print(y)

brand

#### get values

In [87]:
x1 = cars1.values() 
print(x1)

dict_values(['Toyota', 'Corolla', 2017])

#### items in list

In [88]:
x2 = cars1.items()
print(x2)

dict_items([('brand', 'Toyota'), ('model', 'Corolla'), ('year', 2017)])

#### change value

In [91]:
car3 = {
  "brand": "Toyota",
  "model": "Corolla",
  "year": 2017
}
car3["year"] = 2018
print(car3)
car3.update({"brand": "Test"})
print(car3)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}
{'brand': 'Test', 'model': 'Mustang', 'year': 2018}

In [92]:
car5 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car5.update({"year": {"year 1": 2018, "year 2": 1976}}) 
print(car5)

{'brand': 'Ford', 'model': 'Mustang', 'year': {'year 1': 2018, 'year 2': 1976}}

#### add new element

In [93]:
car6 = {
  "brand": "Toyota",
  "model": "Corolla",
  "year": 2017
}
car6["color"] = "Blue"
print(car6)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Blue'}

#### nested dicts

In [102]:
fruits = {"summer": { "name":"watermelon", "specs" : { "color" : "red", "taste": "Sweet"
        }
    }
}
print(fruits)
print(fruits["summer"])
print(fruits["summer"]["name"])
print(fruits["summer"]["specs"])
print(fruits["summer"]["specs"]["color"])

{'summer': {'name': 'watermelon', 'specs': {'color': 'red', 'taste': 'Sweet'}}}
{'name': 'watermelon', 'specs': {'color': 'red', 'taste': 'Sweet'}}
watermelon
{'color': 'red', 'taste': 'Sweet'}
red

In [120]:
child1 = {
  "name" : "Ahmed",
  "year" : 2004
}
child2 = {
  "name" : "Ali",
  "year" : 2007
}
child3 = {
  "name" : "Shaymaa",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
} 
print(myfamily)
print(myfamily["child1"])
print(myfamily["child1"]["name"])

{'child1': {'name': 'Ahmed', 'year': 2004}, 'child2': {'name': 'Ali', 'year': 2007}, 'child3': {'name': 'Shaymaa', 'year': 2011}}
{'name': 'Ahmed', 'year': 2004}
Ahmed

#### remove items

In [108]:
cars8 = {
  "brand": "Toyota",
  "model": "Corolla",
  "year": 2017,
  "color": "red"
}
cars8.pop("model")
print(cars8) 
cars8.popitem() # last inserted item
print(cars8) 
del cars8["brand"]
print(cars8) 
cars8.clear()
print(cars8)

{'brand': 'Ford', 'year': 1964, 'color': 'red'}
{'brand': 'Ford', 'year': 1964}
{'year': 1964}
{}

#### copy dict

In [116]:
cars8 = {
  "brand": "Toyota",
  "model": "Corolla",
  "year": 2017,
  "color": "red"
}

cars9 = cars8 ## can't do this
print(cars9)
cars9["brand"] = "BMW"
print(cars8)
print(cars9) # problems!!!
cars91 = cars9.copy()
print(cars91)
cars91["brand"] = "Toyota"
print(cars91)
print(cars9)
# or you can acheive the same
# mydict = dict(thisdict)
# print(mydict)

{'brand': 'Toyota', 'model': 'Corolla', 'year': 2017, 'color': 'red'}
{'brand': 'BMW', 'model': 'Corolla', 'year': 2017, 'color': 'red'}
{'brand': 'BMW', 'model': 'Corolla', 'year': 2017, 'color': 'red'}
{'brand': 'BMW', 'model': 'Corolla', 'year': 2017, 'color': 'red'}
{'brand': 'Toyota', 'model': 'Corolla', 'year': 2017, 'color': 'red'}
{'brand': 'BMW', 'model': 'Corolla', 'year': 2017, 'color': 'red'}